*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background: rgb(133,118,255);
    background: linear-gradient(90deg, rgba(133,118,255,1) 0%, rgba(123,201,255,1) 98%);
}

.socialHeader {
    background: rgb(28,22,120);
    background: linear-gradient(90deg, rgba(28,22,120,1) 0%,  rgb(13, 9, 75) 98%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    text-decoration: none;
    margin-bottom: 2rem;
}

.navItems a {
    color: white;
    text-decoration: none;
    font-size:2.5rem;
    padding:10rem;
}





.post{
    display: flex;
    align-items: center;
    justify-content: center;
    width:30%;
    margin:0 auto;
    flex-direction: column;
    padding:2rem;
    gap:0.5rem;
    border: 0.3rem solid black;
    color:white;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.postUser{
    font-size:6rem;
}

.postImage{
    height: 10rem;
    width: 10rem;
    object-fit: contain;
}


.postContent{
    font-size:2rem;
}

.postDate{
    font-size:1.5rem;
}

.postTitle{
    font-size: 2rem;
}