*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background: rgb(133,118,255);
    background: linear-gradient(90deg, rgba(133,118,255,1) 0%, rgba(123,201,255,1) 98%);
}

.socialHeader {
    background: rgb(28,22,120);
    background: linear-gradient(90deg, rgba(28,22,120,1) 0%,  rgb(13, 9, 75) 98%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    text-decoration: none;
    margin-bottom: 2rem;
}

.navItems a {
    color: rgb(122, 119, 119);
    text-decoration: none;
    font-size:3rem;
    padding:10rem;
}


.post{
    display: flex;
    align-items: center;
    justify-content: center;
    width:30%;
    margin:0 auto;
    flex-direction: column;
    padding:2rem;
    gap:0.5rem;
    border: 0.3rem solid black;
    color:white;
    padding-bottom: 1rem;
}


.postUser{
    font-size:4rem;
}


.postContent{
    font-size:2rem;
}

.postDate{
    font-size:1.5rem;
}

.postTitle{
    font-size: 2rem;
}